/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  text-decoration: none;
}
body {
  font-family: Noto Sans;
  line-height: 1;
  background-color: rgb(255, 255, 255);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease 0s;
  color: #005e94;
}

.wrapper {
  margin: 0 auto -120px auto;
  padding: 0;
  min-height: 100%;
  position: relative;
  width: 1200px;
  height: 1200px;
}

.header {
  padding-top: 20px;
  display: flex;
  width: 1200px;
  background-color: white;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo:hover {
  fill: #005e94;
  transition: all 0.3s ease 0s;
}

.header-contacts {
  display: flex;
  margin-left: 33px;
  margin-right: 60px;
  align-items: center;
}

.header-phone {
  margin-left: 53px;
}

.header-search {
  display: flex;
  align-items: center;
}

.header-input {
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
  width: 600px;
  height: 30px;
  border-radius: 100px;
  position: relative;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 15px;
  border: 1px solid black;
}

.header-button {
  cursor: pointer;
  border: none;
  border-radius: 7px;
  height: 20px;
  width: 79px;
  position: absolute;
  margin-left: 534px;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 14px;
}

.header-button:hover {
  transition: all 0.3s ease 0s;
  color: #005e94;
}

.header-basket {
  margin-left: 60px;
  display: flex;
  align-items: center;
  color: black;
}

.header-counter {
  margin-left: 22px;
  margin-top: 18px;
  width: 17px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #838181;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  display: inline-flex;
  flex-shrink: 0;
  position: absolute;
}

.cart {
  fill: black;
  width: 27px;
  height: 27px;
  position: relative;
}

.cart:hover {
  fill: #005e94;
  transition: all 0.3s ease 0s;
}

.header-nav-panel {
  padding: 40px 0px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 500;
}

.icon-dropdown {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 6px;
  transform: rotate(90deg);
}

/*   -   -   -    MAIN   -    -    -    */

.quality {
}

.section-body {
  display: inline-flex;
}

.quality-box {
  padding: 10px 20px 20px 0px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  color: black;
  margin: 1px;
  width: 315px;
}

#mid-quality {
  margin-right: 80px;
  margin-left: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.quality-item {
  text-align: center;
  height: 180px;
  background-color: #f2f2f2;
}

.quality-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(0 0 0);
}

.quality-title {
  font-size: 15px;
  margin: 3px 0 12px;
  font-weight: 900;
  margin-top: 15px;
}

.quality-description {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  margin-left: 15px;
  margin-right: 20px;
}

.hits {
  margin-top: 100px;
}

.hits__title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.hits__products {
  display: flex;
  margin: 0 50px;
  width: 1080px;
}

.hits__container > a {
  display: flex;
}

.hits__image {
  margin: 0 0px;
}

.hits__description {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 7px;
  width: 400px;
}

.hits__article {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
}

.hits__rating {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 7px;
  color: rgb(0, 0, 0);
}

.hits__price {
  position: absolute;
  font-size: 20px;
  margin-top: 7px;
}

.hits__button {
  position: relative;
  margin-left: 45px;
  margin-top: 8px;
}

.hits__button-btn {
  background-color: white;
  border: none;
  cursor: pointer;
}
