/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  text-decoration: none;
}
body {
  font-family: Noto Sans;
  line-height: 1;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 2px;
  height: 8px;
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 9em;
}

/* burger */

.menu-btn {
  right: 0;
  position: absolute;
  display: none;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 41;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .menu-btn {
    display: flex;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .menu-btn {
    display: flex;
  }
}

.menu-btn__burger {
  width: 35px;
  height: 5px;
  background: black;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 5px;
  background: black;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-10px);
}

.menu-btn__burger::after {
  transform: translateY(10px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/* ------------- HEADER -------------- */

.header {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  background-color: white;
}

.logo {
  width: 50px;
  height: 50px;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .logo {
    margin-left: -70px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .logo {
    margin-left: -70px;
  }
}

.logo:hover {
  fill: rgb(61, 61, 61);
  transition: all 0.3s ease 0s;
}

.header__contacts {
  display: flex;
  margin-right: 60px;
  align-items: center;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .header__contacts {
    display: none;
  }
}

.header__phone {
  margin-left: 53px;
}

.header__phone > a:hover {
  transition: all 0.3s ease 0s;
  color: #565555;
}

.header__search {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header__input {
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
  width: 598.4px;
  height: 29px;
  border-radius: 20px 1px 30px 1px;
  position: relative;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 15px;
  border: 1px solid black;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .header__input {
    width: 198.4px;
    height: 25px;
    font-size: 9.5px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .header__input {
    width: 198.4px;
    height: 25px;
    font-size: 9.5px;
  }
}

.header__button {
  cursor: pointer;
  border: none;
  position: absolute;
  margin-left: 534px;
  background-color: white;
  font-weight: 600;
  font-size: 14px;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .header__button {
    margin-left: 160px;
    font-size: 9px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .header__button {
    margin-left: 160px;
    font-size: 9px;
  }
}
.header__button:hover {
  transition: all 0.3s ease 0s;
  color: #565555;
}

.header__basket {
  margin-top: 13px;
  margin-left: 1270px;
  display: flex;
  align-items: center;
  color: black;
  position: fixed;
  z-index: 30;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .header__basket {
    margin-left: 316px;
    margin-top: 70px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .header__basket {
    margin-left: 700px;
    margin-top: 60px;
  }
}

.header__counter {
  margin-left: 22px;
  margin-top: 18px;
  width: 17px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #838181;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  display: inline-flex;
  flex-shrink: 0;
  position: absolute;
}

.cart {
  fill: #616161;
  width: 27px;
  height: 27px;
  position: relative;
}

.cart:hover {
  fill: #565555;
  transition: all 0.3s ease 0s;
}

.basket-menu__close {
  position: absolute;
  font-size: 15px;
  background-color: white;
  border: none;
  font-weight: 900;
  padding: 0;
  top: 13px;
  cursor: pointer;
  right: 16px;
  z-index: 1;
}

.basket-menu__title {
  margin-top: 13px;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  border-bottom: 1px solid #e0e0e3;
  padding-bottom: 15px;
}

.header__basket-menu {
  display: none;
}

.header__basket-menu.open {
  top: 0;
  position: fixed;
  display: block;
  width: 850px;
  background-color: white;
  border: 1px solid black;
  margin: 170px 400px;
  height: 480px;
  z-index: 1;
  overflow-y: scroll;
}
@media (min-width: 200px) and (max-width: 766.98px) {
  .header__basket-menu.open {
    width: 320px;
    margin: 120px 12%;
    overflow-x: hidden;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .header__basket-menu.open {
    width: 650px;
    margin: 120px 12%;
  }
}

.basket-menu__items {
  display: flex;
  padding-left: 40px;
  flex-wrap: wrap;
  margin: 30px 100px;
  border: 1px solid #e0e0e3;
}
@media (min-width: 200px) and (max-width: 766.98px) {
  .basket-menu__items {
    padding-left: 0px;
    margin: 30px 10px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .basket-menu__items {
    margin: 30px 10px;
    padding-left: 0px;
  }
}

.basket-menu__img {
  margin-top: 10px;
  margin-left: 15px;
}

.basket-menu__name {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.basket-menu__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
}

.basket-menu__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.basket-menu__quantity {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 72px;
  margin-right: 30px;
  font-weight: 300;
  font-size: 14px;
}

.basket-menu__buy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 60px;
  background-color: #fef8f8c1;
}

.basket-menu__total {
  position: absolute;
  margin-left: 100px;
  margin-top: -37px;
  font-weight: 300;
}
@media (min-width: 200px) and (max-width: 766.98px) {
  .basket-menu__total {
    margin-left: 10px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .basket-menu__total {
    margin-left: 250px;
  }
}
.basket-menu__delete {
  position: absolute;
  right: 0;
  border: 1px solid black;
  margin-right: 250px;
  margin-top: -43px;
  background-color: white;
  border-radius: 0px 15px 0px;
  text-transform: uppercase;
  padding: 5px;
  font-size: 14px;
  font-weight: 200;
  cursor: pointer;
  transition: border-radius 0.3s;
}
@media (min-width: 200px) and (max-width: 766.98px) {
  .basket-menu__delete {
    margin-top: -10px;
    margin-right: 155px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .basket-menu__delete {
    margin-top: -8px;
    margin-right: 330px;
  }
}

.basket-menu__delete:hover {
  border-radius: 2px 0px 2px;
}

.basket-menu__button {
  position: absolute;
  right: 0;
  border: 1px solid black;
  margin-right: 100px;
  margin-top: -43px;
  background-color: white;
  border-radius: 15px 0px 17px;
  text-transform: uppercase;
  padding: 5px;
  font-size: 14px;
  font-weight: 200;
  cursor: pointer;
  transition: border-radius 0.3s;
}
@media (min-width: 200px) and (max-width: 766.98px) {
  .basket-menu__button {
    margin-top: -10px;
    margin-right: 10px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .basket-menu__button {
    margin-top: -8px;
    margin-right: 150px;
  }
}

.basket-menu__button:hover {
  border-radius: 2px 0px 2px;
}

/* -------------- HEADER-NAV --------------- */

.header__nav-panel {
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 15px 0;
  margin-bottom: 60px;
  transition: all 0.4s ease 0s;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .header__nav-panel {
    height: 7062px;
    width: 100%;
    z-index: 40;
    padding: 0px;
    position: absolute;
    translate: -700px;
    margin-top: -70px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .header__nav-panel {
    height: 7062px;
    width: 100%;
    z-index: 40;
    padding: 0px;
    position: absolute;
    translate: -2000px;
    margin-top: -70px;
  }
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .header__nav-panel.open {
    height: 7062px;
    width: 100%;
    z-index: 40;
    padding: 0px;
    position: absolute;
    translate: 0px;
    margin-top: -70px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .header__nav-panel.open {
    height: 7062px;
    width: 100%;
    z-index: 40;
    padding: 0px;
    position: absolute;
    translate: 0px;
    margin-top: -70px;
  }
}

.header__nav-child {
  color: black;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}
@media (min-width: 200px) and (max-width: 766.98px) {
  .header__nav-child {
    width: 315px;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 10px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .header__nav-child {
    width: 315px;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 10px;
  }
}

.header__nav-child > span {
  user-select: none;
}

.header__nav-child > span:hover {
  transition: all 0.3s ease 0s;
}

.header__nav {
  display: flex;
  justify-content: center;
  gap: 150px;
  font-size: 18px;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .header__nav {
    display: block;
    margin-top: -10px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .header__nav {
    display: block;
    margin-top: -10px;
  }
}

.icon__dropdown {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 6px;
  transform: rotate(90deg);
  transition: all 0.3s ease 0s;
}

.icon__dropdown.open {
  transform: rotate(270deg);
  transition: all 0.3s ease 0s;
}

/* ---------- NAV-SUBMENU ----------- */

.header__nav-submenu-block.open {
  display: flex;
  cursor: auto;
  flex-wrap: wrap;
}

.header__nav-submenu.open {
  width: 100%;
  height: 400px;
  cursor: auto;
}
@media (min-width: 200px) and (max-width: 766.98px) {
  .header__nav-submenu.open {
    display: flex;
    cursor: auto;
    flex-wrap: wrap;
    height: auto;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .header__nav-submenu.open {
    display: flex;
    cursor: auto;
    flex-wrap: wrap;
    height: auto;
  }
}

.header__nav-submenu-block {
  left: 0;
  margin-left: 120px;
  margin-top: 15px;
  border-top: 3px solid white;
  width: 1365px;
  display: none;
  position: absolute;
  cursor: auto;
}
@media (min-width: 200px) and (max-width: 766.98px) {
  .header__nav-submenu-block {
    left: 0;
    margin-left: 15px;
    margin-top: 15px;
    border-top: none;
    width: 365px;
    display: none;
    cursor: auto;
    position: relative;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .header__nav-submenu-block {
    left: 0;
    margin-left: 15px;
    margin-top: 15px;
    border-top: none;
    width: 365px;
    display: none;
    cursor: auto;
    position: relative;
  }
}

.header__nav-submenu-column {
  width: 300px;
}

.header__nav-submenu-title {
  color: black;
  text-transform: uppercase;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
}
@media (min-width: 200px) and (max-width: 766.98px) {
  .header__nav-submenu-title {
    color: black;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.2;
  }
}

.header__nav-submenu-list {
  margin-top: 20px;
  margin-bottom: 15px;
}

.header__nav-submenu-list li {
  margin-top: 20px;
}

.header__nav-submenu-list li > a {
  color: black;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.1s linear 0s;
}
.header__nav-submenu-list li > a:hover {
  font-weight: 500;
}

/*  ----------- QUALITY -------------  */

.quality {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.quality__container {
  display: inline-flex;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .quality__container {
    display: block;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .quality__container {
    display: block;
  }
}

.quality__box {
  padding: 20px 40px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  color: black;
  width: 300px;
}

.quality__item {
  margin-right: 0px;
  text-align: center;
  height: 180px;
}

.quality__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.quality__title {
  font-size: 15px;
  margin: 3px 0 12px;
  font-weight: 900;
  margin-top: 15px;
}

.quality__description {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  margin-left: 15px;
  margin-right: 20px;
}

/* --------- HITS-CART ------------ */

.hits__block.open {
  display: flex;
  border-bottom: 1.1px solid #e0e0e3;
}

.hits__image.open {
  width: 150px;
}
@media (min-width: 200px) and (max-width: 766.98px) {
  .hits__image.open {
    width: 105px;
  }
}

.basket-menu__delete.open > button {
  display: block;
}

.hits__description.open {
  display: flex;
  font-weight: 600;
  width: 320px;
  height: 10px;
  margin-top: 45px;
  margin-left: 15px;
  word-break: keep-all;
}
@media (min-width: 200px) and (max-width: 766.98px) {
  .hits__description.open {
    font-weight: 400;
    width: 122px;
    height: 0px;
    margin-top: 15px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .hits__description.open {
    font-weight: 600;
    width: 227px;
    height: 0px;
    margin-top: 25px;
  }
}

.hits__price.open {
  display: flex;
  font-size: 19px;
  font-weight: 300;
  margin-top: 85px;
  margin-left: 165px;
}
@media (min-width: 200px) and (max-width: 766.98px) {
  .hits__price.open {
    display: flex;
    font-size: 15px;
    font-weight: 200;
    margin-top: 85px;
    margin-left: 120px;
  }
}
/* ------------ HITS ----------- */

.hits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hits__title {
  background-color: #f2f2f2;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.hits__products {
  display: flex;
  margin-left: 95px;
  justify-content: center;
  gap: 50px;

  width: 1px;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .hits__products {
    flex-wrap: wrap;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .hits__products {
    flex-wrap: wrap;
  }
}

.hits__container > a {
  display: flex;
}

.hits__container {
  margin-right: 100px;
}

.hits__image {
  margin: 0 0px;
}

.hits__description {
  font-size: 14px;
  font-weight: 500;
  width: 300px;
}

.hits__description:hover {
  transition: all 0.3s ease 0s;
  color: #565555;
}

.hits__article {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 10px;
}

.hits__rating {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 7px;
  color: rgb(0, 0, 0);
}

.hits__price {
  position: absolute;
  font-size: 20px;
  margin-top: 7px;
}

.hits__button {
  position: relative;
  margin-left: 55px;
}

.hits__button-btn {
  width: 200px;
  background-color: white;
  border-radius: 25px 2px 2px 2px;
  padding: 1px 6px 0px 6px;
  cursor: pointer;
  position: absolute;
  right: 0;
  transition: all 0.3s ease 0s;
}

.hits__button-btn:hover {
  border-radius: 2px 2px 2px 25px;
}

.hits__button-btn > .cart {
  width: 18px;
  fill: rgb(0, 0, 0);
}

/* ----------------- SERVICES ----------------- */

.services {
  margin: 200px auto;
  max-width: 1600px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  column-gap: 100px;
}

.services__block {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 5px 40px;
  background-color: #f2f2f2;
  width: 470px;
  height: 500px;
  padding: 30px 20px;
}
@media (min-width: 200px) and (max-width: 766.98px) {
  .services__block {
    height: 390px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .services__block {
    height: 390px;
  }
}

.services__title {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

.services__description {
  text-align: center;
  position: relative;
}

.services__description-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 12px;
  margin-left: 40px;
  margin-right: 40px;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .services__description-list {
    margin-left: 0px;
    margin-right: 0px;
    row-gap: 0px;
  }
}

@media (min-width: 767px) and (max-width: 1300px) {
  .services__description-list {
    margin-left: 0px;
    margin-right: 0px;
    row-gap: 0px;
  }
}

.services__btn {
  text-align: center;
  width: 200px;
  color: white;
  background-color: black;
  margin: 30px auto;
  padding: 15px;
  border-radius: 25px;
}

.services__btn:hover {
  transition: all 0.3s ease 0s;
  background-color: rgb(29, 29, 29);
}

.services__image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.services__image > img {
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
}

/* -------------------- REVIEWS ------------------ */

#slider-1 {
  display: flex;
}

#slider-2 {
  display: none;
}
#slider-3 {
  display: none;
}
#slider-4 {
  display: none;
}

.reviews {
  background-color: #f2f2f2;
  height: 500px;
  position: relative;
  z-index: -3;
  margin-left: 10px;
  margin-right: 10px;
}

.reviews__background {
  background-image: url("/img/reviews/5.png");
  width: 1900px;
  height: 500px;
  opacity: 0.1;
  margin-left: -25px;
  position: absolute;
  z-index: -1;
}

@media (min-width: 200px) and (max-width: 1300px) {
  .reviews__background {
    width: 0px;
  }
}

.reviews__title {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  padding-top: 60px;
  margin-bottom: 40px;
}

.reviews__slider {
  display: none;
  position: relative;
}

.reviews__image {
  margin-left: 150px;
  position: absolute;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .reviews__image {
    margin-left: 0px;
    z-index: -10;
    opacity: 0.3;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .reviews__image {
    margin-left: 0px;
    z-index: -10;
    opacity: 0.3;
  }
}

.reviews__text {
  font-weight: 300;
  margin: 20px auto;
  text-align: center;
  max-width: 600px;
  font-size: 18px;
}

.reviews__name {
  margin: 20px 15px;
  text-align: end;
  font-weight: 800;
}

/* --------------- MAIL ---------------- */

.mail {
  margin-top: 150px;
}

.mail__title {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.mail__subtitle {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.mail__form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.mail__input {
  background-color: #f2f2f2;
  width: 600px;
  padding: 20px 0;
  outline: none;
  border: none;
  font-size: 20px;
  padding-left: 20px;
}

.mail__button {
  position: absolute;
  background-color: black;
  color: #fff;
  margin-left: 450px;
  margin-top: 8px;
  font-size: 16px;
  line-height: 19px;
  padding: 14px 22px;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 26px 2px 26px 2px;
  cursor: pointer;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .mail__button {
    margin-left: 180px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .mail__button {
    margin-left: 450px;
  }
}

.mail__button:hover {
  background-color: rgb(29, 29, 29);
  transition: all 0.3s ease 0s;
}

/* ----------- FOOTER ----------- */

.footer {
  margin-top: 150px;
  background-color: #f2f2f2;
  height: 300px;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .footer {
    height: 600px;
  }
}

@media (min-width: 767px) and (max-width: 1300px) {
  .footer {
    height: 780px;
  }
}

.footer__container {
  display: flex;
  justify-content: center;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .footer__container {
    margin-left: -30px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.footer__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  margin-right: 50px;
  margin-left: 50px;
}

.footer__title {
  margin: 30px 0 10px 0;
  font-size: 20px;
  font-weight: 600;
}

.footer__links {
  font-size: 15px;
  font-weight: 400;
  padding: 3px 0;
}

.footer__links:hover {
  transition: all 0.1s ease 0s;
  font-weight: 600;
}

#social {
  display: block;
}

.facebook {
  width: 50px;
  height: 50px;
}

.facebook:hover {
  fill: rgb(61, 61, 61);
  transition: all 0.3s ease 0s;
}

.inst {
  width: 50px;
  height: 50px;
}

.inst:hover {
  fill: rgb(61, 61, 61);
  transition: all 0.3s ease 0s;
}

.youtube {
  width: 50px;
  height: 50px;
}
.youtube:hover {
  fill: rgb(61, 61, 61);
  transition: all 0.3s ease 0s;
}

.footer__under-block {
  display: flex;
  border-top: 1px solid rgb(182, 178, 178);
  padding: 40px 0;
  justify-content: space-around;
  margin: 40px 65px 0px 65px;
}

@media (min-width: 200px) and (max-width: 766.98px) {
  .footer__under-block {
    margin: 40px -2px 0px -9px;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  .footer__under-block {
    height: 300px;
    margin: 40px -2px 0px -9px;
  }
}

.footer__rights,
.footer__contract {
  font-weight: 300;
  font-size: 12px;
}

.footer__contract:hover {
  color: #565555;
}
